$body-bg: #fff;
$body-color: #353b42;

$primary: #f49e00;


$container-max-widths: (
  xl: 1170px
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1920px
);

$headline-scaling: ();
$headline-scaling: map-merge(
  (
          xs: 0.8,
          sm: 0.85,
          md: 0.9,
          lg: 0.95,
          xl: 1
  ),
  $headline-scaling
);

$text-scaling: ();
$text-scaling: map-merge(
    (
            xs: 0.9,
            sm: 0.9,
            md: 0.9,
            lg: 0.95,
            xl: 1
    ),
    $text-scaling
);

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
