body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none !important;
}


h2:before {
  content: "";
  position: relative;
  right: 16px;
  height: 33px;
  width: 20px;
  background-color: #f49e00;
  display: inline-block;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg);
}

/*
.btn {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  color: #f49e00;
  outline: 1pt solid #f49e00;
  -webkit-border-radius: 1pt;
  -moz-border-radius: 1pt;
  border-radius: 1pt;
  background-color: #ffffff;
  border: none;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    background-color: #f18e00;
    color: #ffffff;
    outline-color: #f18e00;
    border-color: #f18e00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
*/
a:hover {
  color: #f18e00;
}

.btn-bg-transparent {
  background-color: transparent;
}

#header-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: transparent;

  &.bg-white {
    background-color: #ffffff;
  }
}

.subheader {
  background-color: #ffce00;

  ul li {
    padding: 10px 16px;
    float: left;

    a {
      color: #000000;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 14px;
      float: left;
    }
  }
}

.languages a {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;

  &:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 14px;
    background-color: #000000;
  }

  &:last-child:after {
    display: none;
  }
}

nav li a.active {
  text-decoration: underline;
}

.navbar {
  padding-top: 3px;
  padding-bottom: 0;
  margin-top: 61px;
}

.navbar-brand {
  position: absolute;
  border: 3px solid #ffffff;
  z-index: 10;

  img {
    width: 147px;
    height: 145px;
    object-fit: cover;
  }
}

nav {
  .navbar-nav > li {
    padding-right: 8px;
    padding-left: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  a span {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }

  .navbar-nav {
    position: relative;
  }

  a.dropdown-toggle:after {
    display: none;
  }
}

.dropdown.dropdown-hover {
  position: static;

  > a {
    position: relative;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 8px;
    margin-right: 8px;
  }

  &:hover {
    .dropdown-menu {
      display: block;
    }

    > a {
      span {
        font-weight: bold;
      }

      border-bottom: 3px solid #000000;
    }
  }
}

/*
  .dropdown.dropdown-hover .dropdown-menu {
      width: 100%;
      padding: 30px 15px;
  }
  */

#header-main {
  nav a span {
    color: #ffffff;
  }

  &.bg-white nav a span {
    color: #000000;
  }
}

#nav-item-1 + .dropdown-menu a.btn {
  line-height: 34px;
}

#nav-item-6 + .dropdown-menu {
  width: 50%;
  right: 0;
  left: auto;

  a {
    color: #000000;
  }

  hr {
    width: 100% !important;
  }
}

nav {
  .dropdown-menu {
    span {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin-top: 15px;
      color: #000000;
    }

    hr {
      border-color: #a7a8aa;
    }
  }

  .hyperdoc-fix {
    width: 85px;
  }
}

.dropdown-menu img {
  max-width: 100%;
}

.hero-slide {
  .carousel-item {
    height: 800px;
    background-image: url("../img/slider-1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    position: relative;

    > div {
      z-index: 3;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  h1 {
    margin-bottom: 40px;
    color: #ffffff;
  }

  h3 {
    color: #ffffff;
  }
}

.a-box-container {
  position: relative;
  padding-left: 30px;
}

.a-box {
  position: absolute;
  bottom: 30px;
  background-color: #f6f6f7;
  z-index: 10;
}

.a-box-right {
  padding-right: 50%;
  right: 0;
  left: 30px;
}

.a-box-left {
  padding-left: 50%;
  left: 0;
  right: 30px;
}

.a-box-img-right {
  bottom: 0;
  right: 30px;
  max-width: calc(100% - 15px);
}

.a-box-img-left {
  max-width: calc(100% - 15px);
}

.a-box a {
  color: #f49e00;

  &:hover {
    color: #f18e00;
    text-decoration: none;
  }
}

#section-2 {
  background-color: #808689;
}


.btn.alternate-btn {
  color: #000000;
  outline-color: #000000;
  background: #ffcf00;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  &:hover {
    background-color: #ffffff;
  }
}

#section-3 {
  background-color: #ffcf00;
}

.alternate-heading-line .skewed:before {
  background-color: #ffffff;
}

.car-footer {
  font-size: 16px;
}

#section-3 .carousel-indicators li {
  background-color: #81878a;

  &.active {
    background-color: #ffffff;
  }
}

#section-4 {
  background: #f6f6f7;
}

.news-box {
  background-color: #f6f6f7;
  padding: 30px;
}

.news-box-1 {
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
  transform: translateX(-40%);
}

.news-box-2 {
  -webkit-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -o-transform: translateX(40%);
  transform: translateX(40%);
  z-index: 5;
  position: inherit;
}

.news-boxes .col-6.my-auto {
  margin-bottom: 30px !important;
}

footer {
  background-color: #36393e;
  padding-bottom: 25em;
  color: #ffffff;

  button[type="submit"] {
    color: #ffffff;

    &:hover {
      color: #36393e;
    }
  }

  form {
    .form-control {
      background: #dddedf;
      font-family: "Roboto", sans-serif;
    }

    .btn {
      outline-color: #ffffff;
      font-family: "Roboto", sans-serif;

      &:hover {
        background-color: #ffffff;
        color: #36393e;
        outline-color: #36393e;
      }
    }
  }
}

.form-control:focus,
footer button[type="submit"]:focus {
  border-color: #f18e00;
  outline-color: #f18e00;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
