<!--Header-->
<div id="header-main">
    <div class="subheader">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="logo-container">
                        <a class="navbar-brand border-top-0 p-0" href="#">
                            <img src="/assets/img/Logo.png" alt="Iqdoq Logo">
                        </a>
                    </div>
                    <ul class="my-auto ml-auto list-unstyled">
                        <li>
                            <a href="#">News</a>
                        </li>
                        <li>
                            <a href="#">Karriere</a>
                        </li>
                        <li>
                            <a href="#">Kontakt</a>
                        </li>
                        <li class="languages">
                            <a href="#">De</a>
                            <a href="#">En</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-white-on-dropdown">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-1" aria-controls="navbar-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="#" id="nav-item-1" class="nav-link dropdown-toggle" title="Produktportfolio" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">Produktportfolio</span></a>
                                <div class="dropdown-menu border-0 m-0 w-100 p-4 rounded-0">
                                    <div class="row rounded-0 bg-black m-0 no-gutters">
                                        <div class="col-6">
                                            <ul class="list-unstyled" aria-labelledby="nav-item-1">
                                                <li>
                                                    <img src="/assets/img/IQDoQ_Akte_Personal_Final_Pfade.png" alt="Dropdown image 1">
                                                    <span>Digitale Personalakte</span>
                                                    <hr class="w-75 float-left">
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/HR-Losungen.png" alt="Dropdown image 2">
                                                    <span>Ergänzende HR-Lösungen</span>
                                                    <hr class="w-75 float-left">
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li>
                                                    <img src="/assets/img/IQDoQ_Akte_Vertrag_Final_Pfade.png" alt="Dropdown image 3">
                                                    <span>Digitales Vertragsmanagement</span>
                                                    <hr class="w-75 float-left">
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li>
                                                    <img class="hyperdoc-fix" src="/assets/img/Bildschirmfoto.png" alt="Dropdown image 4">
                                                    <span>Enterprise Information Management</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 d-none d-sm-block">
                                            <div class="h-100">
                                                <div>
                                                    <img src="/assets/img/500_F_302474625_53uPdIlmL4tcksNgbNJbU4dRbqNR80B4.png" alt="F 500">
                                                </div>
                                                <div>
                                                    <a href="#" class="btn btn-lg btn-outline-primary mt-3 float-right">Zur Live-Demo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="#" id="nav-item-2" class="nav-link dropdown-toggle" title="Kunden" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">Kunden</span></a>
                                <div class="dropdown-menu border-0 m-0 w-100 p-4 rounded-0">
                                    <div class="row rounded-0 bg-black m-0 ">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled" aria-labelledby="nav-item-2">

                                            </ul>
                                        </div>
                                        <div class="col-md-6 d-none d-sm-block">
                                            <div class="h-100">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="#" id="nav-item-3" class="nav-link dropdown-toggle" title="Partner" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">Partner</span></a>
                                <div class="dropdown-menu border-0 m-0 w-100 p-4 rounded-0">
                                    <div class="row rounded-0 bg-black m-0">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled" aria-labelledby="nav-item-3">

                                            </ul>
                                        </div>
                                        <div class="col-md-6 d-none d-sm-block">
                                            <div class="h-100">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="#" id="nav-item-4" class="nav-link dropdown-toggle" title="IQ Wissen" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">IQ Wissen</span></a>
                                <div class="dropdown-menu border-0 m-0 w-100 p-4 rounded-0">
                                    <div class="row rounded-0 bg-black m-0 ">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled" aria-labelledby="nav-item-4">

                                            </ul>
                                        </div>
                                        <div class="col-md-6 d-none d-sm-block">
                                            <div class="h-100">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="#" id="nav-item-5" class="nav-link dropdown-toggle" title="Unternehmen" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">Unternehmen</span></a>
                                <div class="dropdown-menu border-0 m-0 w-100 p-4 rounded-0">
                                    <div class="row rounded-0 bg-black m-0 ">
                                        <div class="col-md-6">
                                            <ul class="list-unstyled" aria-labelledby="nav-item-5">

                                            </ul>
                                        </div>
                                        <div class="col-md-6 d-none d-sm-block">
                                            <div class="h-100">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-hover">
                                <a href="#" id="nav-item-6" class="nav-link dropdown-toggle" title="Service" aria-haspopup="true" aria-expanded="false"><span class="nav-link-text">Service</span></a>
                                <div class="dropdown-menu border-0 m-0 w-50 p-4 rounded-0">
                                    <div class="row rounded-0 bg-black m-0 no-gutters">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled" aria-labelledby="nav-item-6">
                                                <li class="mb-4"><a href="#">Kontakt</a></li>
                                                <hr>
                                                <li class="my-4"><a href="#">Ansprechpartner</a></li>
                                                <hr>
                                                <li class="my-4"><a href="#">Datenschutz</a></li>
                                                <hr>
                                                <li class="mt-4"><a href="#">Impressum</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 d-none d-sm-block">
                                            <div class="h-100">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div><!--End Header-->
