$breakpoint-mobile: md;

.teaserbox {
  @extend .container-fluid;
  @include unitize(max-width, 1920);
  position: relative;
  padding-left: 0;
  padding-right: 0;

  &__container {
    @extend  .container;
    @include media-breakpoint-up($breakpoint-mobile) {
      position: absolute;
      top: 0;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__row {
    @extend .row;
    height: 100%;
  }

  &__content {
    @include media-breakpoint-up($breakpoint-mobile) {
      align-self: center !important;
      margin-left: 50%;
    }
  }

  &__image {
    @extend .col-12;
    @extend .col-md-6;
    img {
      width: 100%;

      @include media-breakpoint-up($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  &__headline {
    @extend .h1;
    @include unitize(margin-top, $grid-gutter-width);
    @include unitize(margin-bottom, $grid-gutter-width);
    @include unitize(padding-left, $grid-gutter-width / 2);
    @include unitize(padding-right, $grid-gutter-width / 2);

    @include media-breakpoint-up($breakpoint-mobile) {
      @include unitize(margin-top, 0);
      @include unitize(padding-left, 32);
    }
  }

  &__text {
    @include unitize(padding-left, $grid-gutter-width / 2);
    @include unitize(padding-right, $grid-gutter-width / 2);
    @include unitize(padding-bottom, $grid-gutter-width);

    @include media-breakpoint-up($breakpoint-mobile) {
      background-color: #f6f6f7;
      @include unitize(padding, 30);
      @include unitize(margin-left, -240);
    }
  }

  &__image {
    @include media-breakpoint-up($breakpoint-mobile) {
      padding-right: 0;
      padding-left: 0;

      img {
        width: 100%;
      }
    }
  }

  &--image-right {
    .teaserbox {
      &__content {
        @include media-breakpoint-up($breakpoint-mobile) {
          margin-left: 0;
        }
      }

      &__text {
        @include media-breakpoint-up($breakpoint-mobile) {
          margin-left: 0;
          width: 50%;
          width: calc(50% + 240px);
        }
      }

      &__image {
        @include media-breakpoint-up($breakpoint-mobile) {
          margin-left: 50%;
        }
      }
    }
  }
}
