{% set baseClass = "teaserbox" %}
{% set baseImg = "/assets/img/Ebene32.png" %}

{% if img is not defined or img is empty %}
    {% set img = baseImg %}
{% endif %}


{% if imagePosition is defined and imagePosition is not empty and imagePosition == 'right' %}
    {% set baseClass = baseClass ~ ' teaserbox--image-right' %}
{% endif %}


<div class="{{ baseClass }}">
    <div class="teaserbox__image">
        {% block image %}
            <img class="img-fluid"
                 height="450" width="400"
                 data-picture="true"
                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-picture-xs-src="{{ img }}"
                 data-picture-xs-height="250"
                 data-picture-xs-width="300"
                 data-picture-sm-src="{{ img }}"
                 data-picture-sm-height="300"
                 data-picture-sm-width="400"
                 data-picture-md-src="{{ img }}"
                 data-picture-md-height="350"
                 data-picture-md-width="500"
                 data-picture-lg-src="{{ img }}"
                 data-picture-lg-height="450"
                 data-picture-lg-width="400"
                 data-picture-xl-src="{{ img }}"
                 data-picture-xl-height="450"
                 data-picture-xl-width="400">
        {% endblock %}
    </div>

    <div class="teaserbox__container">
        <div class="teaserbox__row">

            <div class="teaserbox__content">
                <div class="teaserbox__headline">
                    {% block headline %}
                    News
                    {% endblock %}
                </div>

                <div class="teaserbox__text">
                    {% block text %}
                        <p><b>07.09.20<br />
                        <p>Materna verkauft Tochterunternehmen IQDoQ GmbH an Total Specific Solutions</b></p>
                        Die Unternehmensgruppe Materna Information & Communications SE hat mit Wirkung zum 1. September 2020 das Tochterunternehmen IQDoQ GmbH an das niederländische<br />
                        Unternehmen Total Specific Solutions (TSS) verkauft...<br /></p>
                        <br />
                        <p class="text-right">
                            <a href="#" class="btn btn-secondary">Zu unseren News</a>
                        </p>

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

