{% set defaultSize = 16 %}
{% set defaultIcon = 'placeholder' %}

{% if icon is empty or icon is not defined %}
    {% set icon = defaultIcon %}
{% endif %}

{% if size is empty or size is not defined %}
    {% set size = defaultSize %}
{% endif %}

<svg class="icon icon-{{ size }} icon-vertical-middle" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
    <use xlink:href="/assets/img/svg-symbols.svg#{{ icon }}"></use>
</svg>
