.icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

// Align icon inside button
.btn-icon {
  margin-top: calculateRem(-5px); //Fix wrong vertical alignment: https://www.secrz.de/jira/browse/CAKE-2274
  margin-bottom: calculateRem(-1px); //Fix wrong vertical alignment: https://www.secrz.de/jira/browse/CAKE-2396
  vertical-align: middle;
}

// Global icon sizes
.icon--8 {
  @include unitize(width, 8);
  @include unitize(height, 8);
}

.icon--16 {
  @include unitize(width, 16);
  @include unitize(height, 16);
}

.icon-24 {
  @include unitize(width, 24);
  @include unitize(height, 24);
}

.icon-32 {
  @include unitize(width, 32);
  @include unitize(height, 32);
}

.icon-48 {
  @include unitize(width, 48);
  @include unitize(height, 48);
}

.icon-64 {
  @include unitize(width, 64);
  @include unitize(height, 64);
}

.icon-vertical-middle {
  vertical-align: middle;
  transform: translateY(-4px);
  transform: translateY(-0.25rem);

}
