/*Extra large devices (large desktops, 1200px and up)*/
/*Large devices (desktops, 992px and up)*/
@media screen and (max-width: 991px) {
	.navbar-brand {
		position: relative;
	}
	.navbar-brand img {
		width: 70px;
		height: auto;
	}
	.subheader ul li {
		padding: 5px;
	}
	.subheader ul li a {
		font-size: 12px;
	}
	.navbar-light .navbar-toggler {
		background-color: transparent;
		margin-top: 15px;
		float: right;
		margin-left: auto;
		margin-right: 0;
		border-color: #ffffff;
	}
	.navbar {
		padding: 0;
		margin-top: 0;
	}
	.navbar-collapse {
		background-color: #ffffff;
	}
	nav a span {
		color: #000000;
	}
	.a-box {
		position: relative;
		bottom: unset;
		right: unset;
		left: unset;
		padding: 15px;
	}
	.a-box-container {
		padding-left: 0;
	}
	.a-box-img-left,
	.a-box-img-right {
		max-width: 100%;
		right: unset;
		left: unset;
	}
	#section-5 h1 {
		font-size: 28px;
	}
	.news-box p {
		font-size: 14px;
		line-height: 18px;
	}
	.back-content ul li {
		font-size: 14px;
	}
	.back-content .btn {
		font-size: 14px;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 767px) {

}
/*Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 575px) {
	#header-main {
		background-color: transparent;
	}
	#header-main nav a span {
		color: #000000;
	}
	.alternate-card.mt-8 {
		margin-top: 0;
	}
	.card .card-inner > .float-right {
		position: relative;
		bottom: 20px;
	}
	#carousel-2 .img-fluid {
		margin-top: 15px;
	}
	.news-box {
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);
	}
	#section-5 {
		padding-bottom: 0;
	}
	#section-2 {
		padding-bottom: 0;
	}
	.news-boxes {
		margin-top: 0;
	}
	.news-box {
		padding: 15px;
	}
	footer {
		padding-bottom: 15px;
	}
	footer .form-group {
		margin-bottom: 0;
	}
	#carouselLogo {
		margin-left: 0;
		margin-right: 0;
	}
	#carouselLogo img {
		padding-left: 5px;
		padding-right: 5px;
	}
	#carouselLogo .carousel-control-next,
	#carouselLogo .carousel-control-prev {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.card h5 {
		font-size: 26px;
	}
	.back-content ul li {
		font-size: 18px;
	}
	.back-content .btn {
		font-size: 18px;
	}
}