.picture__wrapper {
  position: relative;
}
.picture__clone {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  min-height: 50px;
}
.picture--loaded {
  background-image: none !important;
}
