.card {
    background-color: transparent;
    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    h5 {
        font-size: 28px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }
    .back-content {
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        padding: 15px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .card-inner {
        background-color: transparent;
        border: 1px solid white;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover .back-content {
        opacity: 1;
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
    }

    .card-inner,
    .back-content {
        &:before {
            position: absolute;
            right: -1px;
            top: -1px;
            content: "";
            border-top: 40px solid silver;
            border-left: 25px solid transparent;
        }

        &:after {
            position: absolute;
            right: -2px;
            top: -2px;
            content: "";
            border-top: 40px solid #81878a;
            border-left: 25px solid transparent;
        }
        .card-inner {
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
        }
        &:hover .card-inner {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            opacity: 0;
        }

        .back-content li {
            margin-bottom: 15px;

            i {
                margin-right: 5px;
            }
        }

        .fa-angle-right {
            color: #f6f6f7;
            font-size: 18px;
            -webkit-transform: scaleY(1.5);
            -moz-transform: scaleY(1.5);
            -ms-transform: scaleY(1.5);
            -o-transform: scaleY(1.5);
            transform: scaleY(1.5);
        }
    }
}
.card-img-top {
    max-width: 40%;
    height: 40%;
    object-fit: contain;
}
