<div class="card h-100 border-0">
	<div class="card-inner d-flex rounded-0 h-100 pt-4 pb-0 px-4">
		<div class="card-body d-flex flex-wrap align-items-end justify-content-center pb-4">
        {% block frontCardContent %}
			<img class="card-img-top img-fluid mb-2 align-self-start" src="/assets/img/Kundennah.png" alt="Card image">
			<h5 class="card-title text-center text-white mt-4 mb-0">Kundennah und flexibel</h5>
			<div class="ml-auto">
				<i class="fa fa-angle-right"></i>
			</div>
        {% endblock %}
		</div>
	</div>
    <div class="back-content p-4 d-flex align-items-center">
        <div class="flex-fill text-center">
            {% block backCardContent %}
                <h5>IHRE VORTEILE<br>MIT IQDoQ</h5>
                <div class="mt-2">
                    <img class="img-fluid" src="/assets/img/devices.png" alt="Devices">
                </div>
                <div class="mt-4">
                    <a href="#" class="btn alternate-btn">Unsere Produkte</a>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
