@mixin bg-gradient-variant($parent, $color, $ignore-warning: false, $degree: 180deg) {
  #{$parent} {
    background: $color linear-gradient($degree, $color, mix($color, darken($color, 10), 15%)) repeat-x !important;
  }
}

@each $color, $value in $theme-colors {
  @include bg-gradient-variant(".bg-gradient-#{$color}", $value, true);
}
