{% extends './_layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = '' %}

{% block page %}
	{% embed "./components/slider/slider.twig" with {} %}
		{% block settingsAttributes %}
			data-xxl='{"slidesPerView": 1, "spaceBetween": 0}'
			            data-xl='{"slidesPerView": 1, "spaceBetween": 0}'
			            data-lg='{"slidesPerView": 1, "spaceBetween": 0}'
			            data-md='{"slidesPerView": 1, "spaceBetween": 0}'
			            data-sm='{"slidesPerView": 1, "spaceBetween": 0}'
			            data-xs='{"slidesPerView": 1, "spaceBetween": 0}'
		{% endblock %}

		{% block slides %}
			{% for i in 0..4 %}
				<div class="swiper-slide hero-slide">
					<div class="carousel-item">
						<div class="d-block w-100 text-center position-absolute px-2">
							<h1>Unser Engagement<br>für Ihre Effizienz</h1>
							<h3>Mehr als 30 Jahre Erfahrung für mehr als digitales Papier</h3>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endblock %}
	{% endembed %}

	<!--Section 0: Tablet text-->
	<div id="section-0" class="container mt-8">
		<div class="row">
			<div class="col-12 col-sm-6 px-4 px-md-0">
				<h2>IQDoQ – Ihr Spezialist<br>für digitalen Wandel.</h2>
				<p>Wir digitalisieren Ihr Unternehmen: Mit unseren Softwarelösungen
				für effizientes Enterprise Information Management profitieren Sie von
				spürbar vereinfachten Prozessen und holen das Beste aus Ihren
				Dokumenten und Daten heraus – einfach, schnell und sicher. Im
				Cloud- oder Managed-Service-Modell übernehmen wir wahlweise
				auch die Verantwortung für den Betrieb Ihrer Lösung.
				</p>
				<p>
					<b>Entdecken Sie unser Angebot.</b>
					Bei Fragen stehen wir Ihnen gerne zur
					Verfügung. Schreiben Sie uns einfach oder rufen Sie uns direkt an.</p>
			</div>
			<div class="col-12 col-sm-6 d-flex">
				<img class="img-fluid align-self-center" src="/assets/img/tablet.png" alt="Tablet">
			</div>
		</div>
	</div>
	<!--End Section 0: Tablet text-->
	<!--Section 1: Info boxes-->
	<div id="section-1" class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 px-4 px-md-0">
				<div class="a-box-container text-right">
					<div class="d-inline-block">
						<img class="img-fluid mt-8 a-box-img-left" src="/assets/img/500_F_263715188_SaJ2wYTV2qJkQBwDFcvJcRU5X6XJLtqe.png" alt="F 500">
					</div>
					<div class="a-box a-box-left text-left pt-4">
						<img class="mb-4 img-fluid" src="/assets/img/IQDoQ_Akte_Vertrag_Final_Pfade.png" alt="Akte Vertrag">
						<p class="font-weight-bold">Digitale Personalakte,<br>Service Portal, Workflows</p>
						<p class="mb-0 mb-sm-4">
							<a href="#">
								<u>weitere Infos</u>
								></a>
						</p>
					</div>
				</div>
				<div class="a-box-container text-right">
					<div class="d-inline-block">
						<img class="img-fluid mt-8 a-box-img-left" src="/assets/img/500_F_262477495_ScjQEmDYmjHZLj8VpvQVTTuMk3t8NtVg.png" alt="F 500">
					</div>
					<div class="a-box a-box-left text-left pt-4">
						<img class="mb-4 img-fluid" src="/assets/img/IQDoQ_Akte_Personal_Final_Pfade.png" alt="Akte Personal">
						<p class="font-weight-bold">Digitales Vertragsverwaltung,<br>Fristenmanagement</p>
						<p class="mb-0 mb-sm-4">
							<a href="#">
								<u>weitere Infos</u>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 pr-sm-0 px-4">
				<h2 class="mt-16">Unsere digitalen<br>Lösungen für Sie:</h2>
				<div class="a-box-container">
					<div class="d-inline-block">
						<img class="img-fluid mt-8 a-box-img-right position-relative" src="/assets/img/500_F_278582521_wQXkLypZfrdpQhpcPWQarM6sDnZf7LVt.png" alt="F 500">
					</div>
					<div class="a-box a-box-right text-right pt-4">
						<img class="mb-4 img-fluid" src="/assets/img/HR-Losungen.png" alt="HR-Lösungen">
						<p class="font-weight-bold">Digitale Digitale HR Prozesse,<br>Mitarbeiterbefragungen</p>
						<p class="mb-0 mb-sm-4">
							<a href="#">
								<u>weitere Infos</u>
							</a>
						</p>
					</div>
				</div>
				<div class="a-box-container">
					<div class="d-inline-block">
						<img class="img-fluid mt-8 a-box-img-right position-relative" src="/assets/img/500_F_280585213_yvcJ5QVOOVEeeHvUSftlzG3FpzyTktbY.png" alt="F 500">
					</div>
					<div class="a-box a-box-right text-right pt-4">
						<img class="mb-4 img-fluid" src="/assets/img/Bildschirmfoto.png" alt="Bildschirmfoto">
						<p class="font-weight-bold">Enterprise Information Management,<br>Dokumentenmanagement</p>
						<p class="mb-0 mb-sm-4">
							<a href="#">
								<u>weitere Infos</u>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Section 1: Info boxes-->

	<!--Section 2: Flip cards-->
	<div id="section-2" class="mt-8 pt-8 pb-8">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="text-white text-center mb-8">So profitieren Sie von IQDoQ</h2>
				</div>
				<div class="col-12 col-sm-4 mb-4 mb-sm-0">
					{% embed './components/flip-card/flip-card.twig' with {} %}{% endembed %}
				</div>
				<div class="col-12 col-sm-4 mb-4 mb-sm-0">
					{% embed './components/flip-card/flip-card.twig' with {} %}{% endembed %}
				</div>
				<div class="col-12 col-sm-4 mb-4 mb-sm-0">
					{% embed './components/flip-card/flip-card.twig' with {} %}{% endembed %}
				</div>
				<div class="col-12 col-sm-4 mt-8 mb-4 mb-sm-0">
					{% embed './components/flip-card/flip-card.twig' with {} %}{% endembed %}
				</div>
				<div class="col-12 col-sm-4 mt-8 mb-4 mb-sm-0">
					{% embed './components/flip-card/flip-card.twig' with {} %}{% endembed %}
				</div>
				<div class="col-12 col-sm-4 mt-8 mb-4 mb-sm-0">
					{% embed './components/flip-card/flip-card.twig' with {} %}{% endembed %}
				</div>
			</div>
		</div>
	</div>
	<!--End Section 2: Flip cards-->

	<!--Section 3: Testimonial carousel-->
	<div id="section-3" class="pb-8 pt-8">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="mb-8 alternate-heading-line mb-8">Entdecken Sie unsere Kunden</h2>
					{% embed "./components/slider/slider.twig" with {} %}
						{% block settingsAttributes %}
							data-xxl='{"slidesPerView": 1, "spaceBetween": 0}'
							            data-xl='{"slidesPerView": 1, "spaceBetween": 0}'
							            data-lg='{"slidesPerView": 1, "spaceBetween": 0}'
							            data-md='{"slidesPerView": 1, "spaceBetween": 0}'
							            data-sm='{"slidesPerView": 1, "spaceBetween": 0}'
							            data-xs='{"slidesPerView": 1, "spaceBetween": 0}'
						{% endblock %}
						{% block slides %}
							{% for i in 0..4 %}
								<div class="swiper-slide">
									<div class="carousel-item">
										<div class="d-block w-100 text-left">
											<div class="row">
												<div class="col-12 col-sm-6">
													<p class="font-italic">„In der IQAkte Personal sind alle wesentlichen Einstellungen und
                                                        Abläufe bereits vorgedacht. IQDoQ hat sie für uns dann nur noch
                                                        individuell angepasst. Das Ergebnis: Nach nur fünf Tagen hatten wir
                                                        einedigitalePersonalakte, die sogar unsere spezifischen Anforderungen
                                                        bestens abbildet und unsere Kliniken optimal vernetzt.“</p>
													<hr class="float-left">
													<div class="car-footer">
														<b>Volker Bach</b>
														<br>
														Personalleiter
														<br>
														Vestische Caritas-Kliniken
													</div>
												</div>
												<div class="col-12 col-sm-2"></div>
												<div class="col-12 col-sm-4">
													<img class="img-fluid" src="/assets/img/Ebene.png" alt="Ebene">
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endblock %}
					{% endembed %}
				</div>
			</div>
		</div>
	</div>
	<!--End Section 3: Testimonial carousel-->

	<!--Section 4: Partner logos-->
	<div id="section-4" class="pt-8 pb-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					{% embed "./components/slider/slider.twig" with {} %}
						{% block settingsAttributes %}
							data-xxl='{"slidesPerView": 1, "spaceBetween": 0}'
							            data-xl='{"slidesPerView": 5, "spaceBetween": 0}'
							            data-lg='{"slidesPerView": 5, "spaceBetween": 0}'
							            data-md='{"slidesPerView": 3, "spaceBetween": 0}'
							            data-sm='{"slidesPerView": 2, "spaceBetween": 0}'
							            data-xs='{"slidesPerView": 2, "spaceBetween": 0}'
						{% endblock %}
						{% block slides %}
								<div class="swiper-slide">
                                    <div class="carousel-item">
										<div class="d-flex justify-content-center">
											<img class="img-fluid" src="/assets/img/DPD.png" alt="DPD" />
										</div>
                                    </div>
								</div>
								<div class="swiper-slide">
                                    <div class="carousel-item">
										<div class="d-flex justify-content-center">
											<img class="img-fluid" src="/assets/img/caritas.png" alt="Caritas" />
										</div>
                                    </div>
								</div>
								<div class="swiper-slide">
                                    <div class="carousel-item">
										<div class="d-flex justify-content-center">
											<img class="img-fluid" src="assets/img/csm_commax_282349956d.png" alt="Commax" />
										</div>
                                    </div>
								</div>
								<div class="swiper-slide">
                                    <div class="carousel-item">
										<div class="d-flex justify-content-center">
											<img class="img-fluid" src="assets/img/csm_kieselmann_de1c6220d5.png" alt="Kieselmann" />
										</div>
                                    </div>
								</div>
								<div class="swiper-slide">
                                    <div class="carousel-item">
										<div class="d-flex justify-content-center">
											<img class="img-fluid" src="assets/img/also.png" alt="Also" />
										</div>
                                    </div>
								</div>
								<div class="swiper-slide">
                                    <div class="carousel-item">
										<div class="d-flex justify-content-center">
											<img class="img-fluid"  src="/assets/img/DPD.png" alt="DPD" />
										</div>
                                    </div>
								</div>
						{% endblock %}
					{% endembed %}
					<div class="col text-center mt-4">
						<a href="#" class="btn btn-bg-transparent">Mehr Referenzen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Section 4: Partner logos-->

	{% embed "./components/teaserbox/teaserbox.twig" with {} %}

	{% endembed %}

	{% embed "./components/teaserbox/teaserbox.twig" with {imagePosition: 'right', img: '/assets/img/Ebene33.png'} %}
		{% block headline %}Events{% endblock %}
		{% block text %}
			<p><b>07.09.20<br />
					KOSTENFREIE WEBCASTS DIGITALE PERSONALAKTE</b></p>
			<p>
			Mit der IQAkte Personal zur digitalen HR-Abteilung Sie wollen Ihre HR-Prozesse digitalisieren? Erfahren Sie in unseren Webcasts, wie Sie mit der IQAkte Personal die ideale Basis dafür schaffen: vom effizienten…<br /></p>
			<br />
			<p>
				<a href="#" class="btn btn-secondary">Zu unseren Events</a>
			</p>
		{% endblock %}
	{% endembed %}

	{% embed "./components/teaserbox/teaserbox.twig" with {img: '/assets/img/IQDoQ-Karriere.png'} %}
		{% block headline %}Stellenmarkt{% endblock %}
		{% block text %}
			<p><b>Werden Sie Teil unseres Teams</b></p>
			<p>Spannende Aufgaben in einem dynamischen Zukunftsmarkt, viel Gestaltungsspielraum, ausgewogene Work-Life-Balance und familiäre Unternehmenskultur sind Stichworte, die Sie ansprechen? Dann werden Sie Teil unsere Teams!<br /></p>

			<br />
			<p class="text-right">
				<a href="#" class="btn btn-secondary">Zu unserem Stellenmarkt</a>
			</p>
		{% endblock %}
	{% endembed %}

	<!--Section 5: News Boxes-->
	<div id="section-5" class="pt-8 pb-8">
		<div class="container mb-8">
			<div class="row">
				<div class="col-12">
					<h2 class="w-75 mx-auto text-center">Erfahren sie mehr zu uns und unseren lösungen</h2>
				</div>
			</div>
		</div>
		<div class="container-fluid px-0 news-boxes">
			<div class="row no-gutters">
				<div class="col-12 col-sm-6 pr-md-2">
					<img class="img-fluid" src="/assets/img/Ebene32.png" alt="Ebene32">
				</div>
				<div class="col-12 col-sm-6 my-auto pl-md-2">
					<h1>News</h1>
					<div class="news-box news-box-1">
						<b>07.09.20</b>
						<br>
						<b>Materna verkauft Tochterunternehmen IQDoQ GmbH an Total Specific Solutions</b>
						<p class="mt-2">
							Die Unternehmensgruppe Materna Information & Communications SE hat mit Wirkung zum 1. September 2020 das Tochterunternehmen IQDoQ GmbH an das niederländische<br>Unternehmen Total Specific Solutions (TSS) verkauft...
						</p>
						<a href="#" class="btn float-left float-sm-right btn-bg-transparent">Zu unseren News</a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid px-0 mt-8 news-boxes">
			<div class="row no-gutters flex-row-reverse">
				<div class="col-12 col-sm-6 my-auto pl-md-2 order-1">
					<h1 class="pl-40">Events</h1>
					<div class="news-box news-box-2">
						<b>07.09.20</b>
						<br>
						<b class="text-uppercase">Kostenfreie Webcasts digitale Personalakte</b>
						<p class="mt-2">
							Mit der IQAkte Personal zur digitalen HR-Abteilung Sie wollen Ihre HR-Prozesse
							                            digitalisieren? Erfahren Sie in unseren Webcasts, wie Sie mit der IQAkte Personal
							                            die ideale Basis dafür schaffen: vom effizienten…</p>
						<a href="#" class="btn float-left float-sm-right btn-bg-transparent">Zu unseren Events</a>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-12 col-sm-6 pl-md-2 order-0">
					<img class="img-fluid" src="/assets/img/Ebene33.png" alt="Ebene32">
				</div>
			</div>
		</div>
		<div class="container-fluid mt-8 px-0 news-boxes">
			<div class="row no-gutters">
				<div class="col-12 col-sm-6 pr-md-2">
					<img class="img-fluid" src="/assets/img/IQDoQ-Karriere.png" alt="Karriere">
				</div>
				<div class="col-12 col-sm-6 my-auto pl-md-2">
					<h1>Stellenmarkt</h1>
					<div class="news-box news-box-1">
						<b>Werden Sie Teil unseres Teams</b>
						<p class="mt-4">
							Spannende Aufgaben in einem dynamischen Zukunftsmarkt, viel Gestaltungsspielraum,
							                            ausgewogene Work-Life-Balance und familiäre Unternehmenskultur sind Stichworte, die
							                            Sie ansprechen? Dann werden Sie Teil unsere Teams!</p>
						<a href="#" class="btn float-left float-sm-right btn-bg-transparent">Zu unseren Stellenmarkt</a>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Section 5: News Boxes-->
{% endblock %}
