<footer class="pt-8">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-3">
				<p><b>IQDoQ GmbH</b></p>
				<p>
					Theodor-Heuss-Straße 59<br>
					Bad Vilbel
				</p>
				<p class="mb-8">
					+49 6101 806-300<br>
					info@iqdoq.de
				</p>
				<p>
					<b>Folgen Sie uns auf</b>
				</p>
				<p>
					<a class="mr-lg-2 mr-0 text-white" href="#">
						{% include '../components/svg-icon/icon.twig' with { icon: 'facebook' } %}
					</a>
					<a class="mr-lg-2 mr-0" href="#"><img src="../assets/img/footer-link-2.png"></a>
					<a class="mr-lg-2 mr-0" href="#"><img src="../assets/img/footer-link-3.png"></a>
				</p>
			</div>
			<div class="col-12 col-sm-3">
				<p>
					<a class="text-white" href="#"><b>Produktportfolio</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>Partner</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>Referenzen</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>IQ Wissen</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>Unternehmen</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>Service</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>Datenschutz</b></a>
				</p>
				<p>
					<a class="text-white" href="#"><b>Impressum</b></a>
				</p>
			</div>
			<div class="col-12 col-sm-6 px-sm-4">
				<p><b>Kontakt</b></p>
				<form>
					<div class="form-group">
						<label for="input-name"></label>
						<input type="text" class="form-control rounded-0" id="input-name" placeholder="Name">
					</div>
					<div class="form-group">
						<label for="input-email"></label>
						<input type="email" class="form-control  rounded-0" id="input-email" placeholder="E-Mail">
					</div>
					<div class="form-group">
						<label for="input-textarea"></label>
						<textarea class="form-control rounded-0" id="input-textarea" rows="4" placeholder="Nachricht"></textarea>
					</div>
					<button type="submit" class="btn btn-bg-transparent float-left float-sm-right rounded-0 mt-4">Senden</button>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
</footer>
