<div data-slider="true"
        {% block settingsAttributes %}
    data-xxl='{"slidesPerView": 6.5, "spaceBetween": 15}'
    data-xl='{"slidesPerView": 4.5, "spaceBetween": 15}'
    data-lg='{"slidesPerView": 3.5, "spaceBetween": 15}'
    data-md='{"slidesPerView": 2, "spaceBetween": 15}'
    data-sm='{"slidesPerView": 2, "spaceBetween": 15}'
    data-xs='{"slidesPerView": 1, "spaceBetween": 15}'
        {% endblock %}>

    {% block filters %}
        {#
        <div class="col-12">
            <div class="text-center my-3">
                <button class="btn btn-outline-primary" data-controller="slider/filter/button" data-value="-1">No filter</button>
                <button class="btn btn-outline-primary" data-controller="slider/filter/button" data-value="4">Use Cases</button>
                <button class="btn btn-outline-primary" data-controller="slider/filter/button" data-value="6">Benefits</button>
                <button class="btn btn-outline-primary" data-controller="slider/filter/button" data-value="7">Clients</button>
                <button class="btn btn-outline-primary" data-controller="slider/filter/button" data-value="8">Reports</button>
            </div>
        </div>
        #}
    {% endblock %}

    <div class="position-relative">
        <div class="swiper-container" data-controller="swiper/slider">
            <div class="swiper-wrapper" data-controller="swiper/slider/wrapper">
                {% block slides %}

                    {% for i in 0..10 %}
                        <div class="swiper-slide">
                            <img src="https://via.placeholder.com/1920x490.png?text=Visit+WhoIsHostingThis.com+Buyers+Guide
    C/O https://placeholder.com/#How_To_Use_Our_Placeholders" class="img-fluid swiper-lazy card-img-top"/>
                        </div>
                    {% endfor %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
